.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #242424;
    font-family: 'Inter', sans-serif;
}
.title{
    color: rgba(255,255,255,0.87);
}
.card{
    color: #624cfe;
}